<div>
    <nav class="navbar navbar-dark navbar-expand-sm  fixed-top">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" routerLink="/"> <img
                src="https://fontmeme.com/permalink/210210/a62eb0dcde47ee50823c1ce44501f2d2.png" alt="logo" height="40"
                width="80"></a>
        <div class="collapse navbar-collapse ml-2" id="Navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"> <a class="nav-link" routerLink="/"><span class="fa fa-home fa-lg"></span>
                        Home</a> </li>

                <li class="nav-item active"> <a class="nav-link" routerLink="/filter-characters"><span
                            class="fa fa-home fa-lg"></span>
                        Filter</a> </li>


            </ul>
            <app-form-search></app-form-search>

        </div>


    </nav>
</div>